@model Inventory


<h2>@Model.Name</h2>

<div>
    
   
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.ImageUrl)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.FeaturedItem)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Category)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="IEdit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>